/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #848794;
  height: 100%;
}

.bg-image {
  background-image: url("../images/bg-desktop.svg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.panel-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.panel-group-row .left-container {
  margin-right: 1.5rem;
  background: #1d2c67;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  padding: 2rem;
  width: 250px;
  border-radius: 10px 80px 10px 10px;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.panel-group-row .left-container .logo img {
  width: 100px;
}

.panel-group-row .left-container .data-process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

.panel-group-row .data-item {
  background-color: #0c122c;
  width: 38px;
  height: 38px;
  border-radius: 5px;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.panel-group-row .right-container {
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #1d2c67;
  width: 500px;
  position: relative;
}

.right-container {
  padding: 1.5rem 2.9rem;
  border-radius: 10px;
  position: relative;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.right-container p {
  padding: 0.5rem 0 1rem;
}

.right-container p span {
  color: #dddbff;
}

.right-container .usage {
  width: 100%;
  border-radius: 12px;
  background: #0c122c;
}

.right-container .usage .usage-bar {
  text-align: right;
  padding: 2px;
  border-radius: 12px;
}

.right-container .usage .usage-bar .dot {
  width: 12px;
  height: 12px;
  margin-left: 96.6%;
  background-color: #dddbff;
  border-radius: 50%;
}

.right-container .usage .bar-length {
  width: 75%;
  background: #ff4d97;
}

.right-container .usage-bandwidth {
  margin-top: 0.5rem;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #dddbff;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.right-container .bandwidth-left {
  width: 150px;
  height: 60px;
  border-radius: 10px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -42px;
  right: 25px;
  background-color: #fff;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.right-container .bandwidth-left::after {
  content: "";
  height: 40px;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: -10px;
  border-width: 10px 10px 10px 10px;
  border-style: solid;
  border-color: transparent #fff transparent transparent;
}

.right-container .bandwidth-left .bandwidth-left-size {
  color: #0c122c;
  font-size: 2rem;
  font-weight: 900;
}

.right-container .bandwidth-left .gigabyte {
  font-size: 10px;
  padding: 0.5rem;
}

/*MOBILE LAYOUT FIRST*/
@media (max-width: 375px) {
  .panel-group-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .panel-group-row .left-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  .panel-group-row .right-container {
    width: 100%;
  }
  .panel-group-row .bandwidth-left {
    top: 85%;
    right: 25%;
  }
  .panel-group-row .bandwidth-left::after {
    content: none;
  }
  /*
 width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg-image {
    background-image: url("/images/bg-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45%;
    margin: auto;
}

*/
}
/*# sourceMappingURL=styles.css.map */