$PaleBlue: hsl(243, 100%, 93%);
$GrayishBlue: hsl(229, 7%, 55%);
$DarkBlue: hsl(228, 56%, 26%);
$VeryDarkBlue: hsl(229, 57%, 11%);
$Gradient: hsl(6, 100%, 80%) to hsl(335, 100%, 65%);
/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //border: 1px solid red;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: $GrayishBlue;
  height: 100vh;
}
.bg-image {
  background-image: url("../images/bg-desktop.svg");
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.panel-group-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: baseline;

  .left-container {
    //flex: 40%;
    margin-right: 1.5rem;
    background: $DarkBlue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding: 2rem;
    width: 250px;
    border-radius: 10px 80px 10px 10px;

    .logo img {
      width: 100px;
    }
  }

  .left-container .data-process {
    display: flex;
    margin: 1rem 0;
  }

  .data-item {
    background-color: $VeryDarkBlue;
    width: 38px;
    height: 38px;
    border-radius: 5px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right-container {
    //flex:60%;
    background: $DarkBlue;
    width: 500px;
    position: relative;
  }
}

.right-container {
  padding: 1.5rem 2.9rem;
  border-radius: 10px;

  p {
    padding: 0.5rem 0 1rem;
    span {
      color: $PaleBlue;
    }
  }
  .usage {
    width: 100%;
    border-radius: 12px;
    background: $VeryDarkBlue;

    .usage-bar {
      text-align: right;
      padding: 3px;
      border-radius: 12px;

      .dot {
        width: 12px;
        height: 12px;
        margin-left: 96.6%;
        background-color: $PaleBlue;
        border-radius: 50%;
      }
    }
    .bar-length {
       width: 75%;
       background: hsl(335, 100%, 65%);
    }
  }
  .usage-bandwidth {
    margin-top: 0.5rem;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
    color: $PaleBlue;
  }
}

/*MOBILE LAYOUT FIRST*/

@media (max-width: 375px) {
}

@media (max-width: 1440px) {
}

/*
 width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .bg-image {
    background-image: url("/images/bg-desktop.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 45%;
    margin: auto;
}

*/
